{% extends 'endeavorapp/main.html' %}

{% block content %}
<!-- TODO: return a fragment to replace card -->

<body>
    <h1>You've finished the deck for today. Congrats!</h1>
    <button onclick="studyNextDeck();">Study Next Deck</button>
    <button onclick="backToDecks();">Back to Decks</button>
</body>

<script>
    function studyNextDeck() {
        //TODO
    }
    function backToDecks() {
        const path = '/decks'
        const url = scheme + '://' + host + ':' + port + path
        window.location.replace(url);
    }
</script>

{% endblock %}